    table {
      border-collapse: collapse;
      text-align: left;
      line-height: 1.5;
      border-left: 1px solid #ccc;
    }

    table thead th {
      padding: 2px;
      font-weight: bold;
      border-top: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 2px solid #c00;
      background: #dcdcd1;
    }
    table tbody th {
      padding: 2px;
      font-weight: bold;
      vertical-align: top;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      background: #ececec;
    }
    table td {
      padding: 2px;
      font-size: 20px;
      vertical-align: top;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }
